body {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-around;
}

#main {
    border: 0.01rem solid white ;
}


h1{
    background-color: black;
    color: white;
    text-align: center;
}

#maintwo{
    background-color:white;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

button {
    color: white;
    border-radius: 100px;
    background-color: #007bff;
    font-weight: 700;
}

#maintwo * {
    padding: 0.5rem;
    margin: 0.3rem;
}

#second {
    display: flex;
    flex-wrap: wrap;
}