body {
    background-color: black;
    color: white;
}

#main {
    
    width: 50%;
    background-color: white;
    border: 1px solid white;
    color: black;
    margin-left: 25%;
    padding: auto;
}

h1 {
    background-color: black;
    color: white;
    margin-top: 10px;
    padding: 5px;
}
input, select,button {
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 30px;
    width: 95%;
}

button{
    font-weight: 500;
    background-color: rgb(248, 232, 8);
    border-radius: 25px;
    border: 1px solid black;
    padding: 7px;
}



